@model IEnumerable<LocationViewModel>

@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Welcome</h1>


  @* we use these HTML helpers so that the display formatting can be controlled
    from the DataAnnotations on the model of this view *@
  <table class="table">
    <thead>
      <tr>
        <th>@Html.DisplayNameFor(m => m.First().Name)</th>
        <th>@Html.DisplayNameFor(m => m.First().Stock)</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var location in Model)
      {
      <tr>
        <td>@Html.DisplayFor(m => location.Name)</td>
        <td>@Html.DisplayFor(m => location.Stock)</td>
      </tr>
      }
    </tbody>
  </table>

</div>
